/* The layout of the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100svb;
}

main {
  inline-size: 90%;
}

.section-profile-card {
  /* 384px */
  max-inline-size: 24rem;

  @media (width <=375px) {
    /* 327px */
    max-inline-size: 20.4375rem;
  }
}